.mainImg {
  display: block;
  width: 35%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  margin-bottom: 0 !important;
}

.bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}

.container-fluid {
  padding-top: 5%;
  padding-bottom: 5%;
}
